'.source.js':
  'JS: describe':
    'prefix': 'describe'
    'body': """
      describe('$1', function(){
        $0
      });
    """
  'JS: it':
    'prefix': 'it'
    'body': """
      it('should $1', function(){
        $0
      });
    """
  'JS: beforeEach':
    'prefix': 'before'
    'body': """
      beforeEach(function(){
        $1
      });
    """
  'JS: afterEach':
    'prefix': 'after'
    'body': """
      afterEach(function(){
        $1
      });
    """

'.source.ruby':
  'Ruby: rspec after each':
    'prefix': 'after'
    'body': 'after(:each) do\n\t$1\nend'
  'Ruby: rspec before each':
    'prefix': 'before'
    'body': 'before(:each) do\n\t$1\nend'
  'Ruby: rspec context':
    'prefix': 'context'
    'body': 'context \'when $1\' do\n\t$2\nend'
  'Ruby: rspec describe':
    'prefix': 'describe'
    'body': 'describe \'$1\' do\n\t$2\nend'
  'Ruby: rspec it':
    'prefix': 'it'
    'body': 'it \'should $1\' do\n\t$2\nend'
  'Ruby: pretty print':
    'prefix': 'pp'
    'body': """
      puts '='*60
      require 'pp'
      pp $1
      puts '/'*60
    """
  'Ruby: puts':
    'prefix': 'puts'
    'body': """
      puts '='*60
      puts $1
      puts '/'*60
    """

'.source.sass, .source.css.scss':
  'CSS: retina image':
    'prefix': 'retina'
    'body': '@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-moz-min-device-pixel-ratio: 1.5), (-ms-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {\n\t$2\n}'
  'CSS: media query':
    'prefix': 'media'
    'body': '@media #{$small-up} {\n\t$1\n}'
