# Create a new directory and enter it
function mkd() {
  mkdir -p "$@" && cd "$@"
}

# Determine size of a file or total size of a directory
function fs() {
  if du -b /dev/null > /dev/null 2>&1; then
    local arg=-sbh
  else
    local arg=-sh
  fi
  if [[ -n "$@" ]]; then
    du $arg -- "$@"
  else
    du $arg .[^.]* *
  fi
}

function goto_code(){
  cd ~/Code/
}

function wipe(){
	read -n 1 -p "Wipe all uncommited changes? (Y/n)? " answer
	[ -z "$answer" ] && answer="Y"

	case ${answer:0:1} in
    y|Y )
        git cleanout
    ;;
    * )
        printf "\nNo cleanout issued\n"
    ;;
	esac
}
